html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    overflow-y: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    width: 960px;
    margin: 0 auto 0 auto;
    background-color: #D3CDC5;
    text-align: left;
    font-size: 85%;
    border-left: 3px solid #665E57;
    border-right: 3px solid #665E57;
    background-image: url("images/bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

body a {
    color: #FE6905;
    font-weight: bold;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

.header {
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    height: 128px;
}

.navigation {
    background-color: #665E57;
    height: auto;
    overflow-y: auto;
    padding: 1em 2em;
    box-sizing: border-box;
}

.navigation a {
    color: #fff;
}

.navigation .links {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    overflow-y: auto;
}

.navigation .primary.links {
    float: left;
}

.navigation .secondary.links {
    float: right;
}

.navigation .links li {
    float: left;
    height: auto;
    overflow-y: auto;
    padding: 0 1em 0 0;
}

.navigation .links .spacer {
    background-image: url("images/helmet.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 12px;
    margin-right: 1em;
    height: 1em;
}





.content {
    padding: 1em 2em;
}